@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --white: #ffffff;
  --light-sandal: #ddd0d1;
  --dark-sandal: #b39e9f;
}

body {
  background: url("https://img.freepik.com/free-vector/white-background-gradient-modern-abstract-design-wave_343694-2337.jpg?w=2000")
    no-repeat;
  background-size: cover;
  padding: 15px 0;
}

.resume-card {
  position: relative;
  width: 55em;
  height: 88em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 30px;
  background-color: var(--white);
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(40, 41, 61, 0.04),
    0px 8px 16px rgba(96, 97, 112, 0.16);
}

/********************* Top Content  *********************/
.resume-card .resume-top-content {
  position: absolute;
  width: 55em;
  height: 250px;
  top: 0;
  left: 0;
  background-color: var(--light-sandal);
  z-index: 1;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.resume-top-content h1,
h2 {
  margin-left: 24rem;
}

.resume-top-content h1 {
  padding-top: 75px;
  letter-spacing: 2px;
  color: #222222;
  font-size: 45px;
  font-weight: 500;
}

.resume-top-content h2 {
  letter-spacing: 1px;
  font-weight: 400;
}

/********************* Left Content  *********************/
.resume-card .resume-left-content {
  position: absolute;
  left: 15px;
  background-color: var(--dark-sandal);
  color: var(--white);
  padding: 0 30px;
  width: 20em;
  height: 88em;
  z-index: 2;
}

.resume-left-content img {
  position: absolute;
  top: 45px;
  left: 55px;
  border-radius: 50%;
  border: 5px solid var(--white);
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.resume-left-content h3 {
  letter-spacing: 2px;
  font-weight: 500;
}

.resume-left-content .resume-profile {
  margin-top: 18em;
}

.resume-profile p {
  margin-top: 15px;
  font-weight: 400;
}

.resume-skills {
  margin-top: 40px;
}

.resume-skills .box {
  margin-top: 5px;
}

.resume-skills .box h4 {
  padding: 8px 0;
}

.resume-skills .box .skill-container {
  width: 100%;
  background-color: var(--light-sandal);
  border-radius: 10px;
  padding: 2px 4px;
}

.resume-skills .box .skill-container .percent {
  width: 100%;
  height: 6px;
  background-color: var(--white);
  border-radius: 10px;
}

.resume-skills .box .skill-container .percent.html {
  width: 100%;
}

.resume-skills .box .skill-container .percent.css {
  width: 100%;
}

.resume-skills .box .skill-container .percent.js {
  width: 75%;
}

.resume-contact {
  margin-top: 100px;
}

.resume-contact ul {
  list-style: none;
  margin-top: 18px;
}

.resume-contact ul li {
  padding: 8px 0;
  display: flex;
  font-size: 15px;
}

.resume-contact ul li i {
  font-size: 22px;
  margin-right: 14px;
}

.resume-contact ul li .fa-github {
  color: #000;
  font-size: 25px;
}

.resume-contact ul li a {
  text-decoration: none;
  color: var(--white);
  transition: all 0.3s ease 0s;
}

.resume-contact ul li a:hover {
  color: #000;
  transition: all 0.3s ease 0s;
}

/********************* Right Content  *********************/
.resume-card .resume-right-content {
  margin-left: 22em;
  margin-top: 12em;
}

.resume-content .heading {
  display: flex;
}

.resume-content .heading i {
  font-size: 30px;
  color: var(--light-sandal);
}

.resume-content h2 {
  margin-left: 10px;
  margin-bottom: 8px;
  font-size: 25px;
  font-weight: 500;
}

.resume-content .details h4 {
  padding: 10px 0 8px;
  letter-spacing: 1px;
  font-size: 18px;
}

.resume-content .details p {
  font-size: 18px;
  padding: 3px 0;
}

.resume-content .details ul {
  list-style: none;
}

.resume-content .details ul li {
  font-size: 18px;
  padding: 3px 0;
}

.resume-content .details ul li a {
  text-decoration: none;
  color: #000;
  transition: all 0.3s ease 0s;
}

.resume-content .details ul li a:hover {
  color: var(--dark-sandal);
  transition: all 0.3s ease 0s;
}

.resume-content .resume-education {
  margin-top: 40px;
}

.resume-content .resume-hobbies .details button {
  margin-top: 14px;
  padding: 20px;
  width: 100px;
  border: none;
  border-radius: 4px;
  transition: all 0.3s ease 0s;
}

.resume-content .resume-hobbies .details button:hover {
  transition: all 0.3s ease 0s;
  box-shadow: 0px 2px 4px rgba(40, 41, 61, 0.04),
    0px 8px 16px rgba(96, 97, 112, 0.16);
}

.resume-content .resume-hobbies .details button p {
  font-size: 14px;
}

.resume-content .resume-hobbies .details button i {
  font-size: 20px;
}

@media screen and (max-width: 900px) {
  .resume-card {
    width: 50em;
    height: 90em;
  }

  .resume-card .resume-top-content {
    width: 50em;
  }

  .resume-card .resume-left-content {
    height: 90em;
  }

  .resume-card .resume-right-content {
    margin-top: 10em;
  }

  .resume-content .resume-hobbies .details button {
    width: 90px;
  }
}

@media screen and (max-width: 768px) {
  .resume-card {
    width: 45em;
    height: 95em;
  }

  .resume-card .resume-top-content {
    width: 45em;
  }

  .resume-card .resume-left-content {
    height: 95em;
  }

  .resume-card .resume-right-content {
    margin-top: 12em;
  }
}
